

@charset "UTF-8";

section {
  display: block; }


* {
 font-size: 100%;
 font-family: sans-serif;
}


html {
  font-family: "museo-sans-rounded" sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }


body {
  margin: 0; }


a:active,
a:hover {
  outline: 0; }


button,
input {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }


button,
input {
  line-height: normal; }


button {
  text-transform: none; }


button {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }


button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }


.text {
  display: block;
  width: 100%; }


.field {
  margin: 0 14px 14px 0; }

.footer {
  clear: both;
  *zoom: 1; }
  
  .footer:after {
    content: "";
    display: table;
    clear: both; }
  
.fade-label {
  position: relative; }
  
  .fade-label label.text {
    background: white;
    height: 34px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    font-weight: normal;
    font-size: 16px;
    color: #818486;
    text-indent: -9999px; }
    
    .fade-label label.text span {
      text-indent: 0;
      display: block;
      padding: 6px 10px 0; }
   
  .fade-label input.text {
    position: absolute;
    top: 0;
    left: 0;
    background: transparent; }
   
.field {
  float: left;
  margin: 0 14px 14px 0;
  width: 100%; }


label.text {
  display: block;
  font-weight: bold; }


@media (-webkit-min-device-pixel-ratio: 0) {
 
body {
  color: inherit;
  font-size: 14px;
  line-height: 1;
  font-family: inherit;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility; }


@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-40acb3b708d702ad33a412aa66c1faa26d4bc61872e1060ada6821bbe438d455.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-40acb3b708d702ad33a412aa66c1faa26d4bc61872e1060ada6821bbe438d455.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-84ac8c5d77e7b949371579f20ba555a185def68c52bd29c488924fc97d58241e.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-9c84076016c8ce88356ffc222d29fcf0ed655075e9ad8f2f82d42b7c48564432.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-d310280d9c68f6f265c81879dc0711b59adb9b7b0893c6e0a6306a8a230d716b.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-100-webfont-1ea95aa16d8e8f1c49b415c82802cec8be255243aa1ad42b3a4b14aa29f9b48a.svg#museo_sans_rounded100) format("svg");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-63b2b209cdb727d9854ba3da472b117ca312465802468c237ccef0b4d5069efd.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-63b2b209cdb727d9854ba3da472b117ca312465802468c237ccef0b4d5069efd.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-098efcab0af2c269760de16b26c0d850c13ed296153f709beb33f6538ec95b3c.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-c9cd7705637f8464e183cd17f51c41ed1eca5e048a44098d12f02a2d17464b1c.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-ffdfef502ed41ebfb5cae7925b82e76c48eac760d71d17d97c935975476f1041.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-100_Italic_22-webfont-4aa805f12418a255904f8b57ac87f98f194791988bcb946584734222d24bf5e8.svg#museo_sans_rounded100_italic) format("svg");
    font-weight: 100;
    font-style: italic;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-99744010c8e5ae76213aa9b11c8f2880b093d477218479cd49196a6aab436385.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-99744010c8e5ae76213aa9b11c8f2880b093d477218479cd49196a6aab436385.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-e0067ef79e2002ce2b851ace274ea95a1dafc4b6ca6b3837a700ca4a192c7b89.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-f59e137ce2d74a9a5e014cfe2bf15a34454c8a38ea98c1a525b1c3ed86ad5f9a.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-f34cc8dc52bd0250f075d94b191ad2024ba6f96fde141a8d28fa5e9d26a04fe0.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-300-webfont-5057c71994b8114dd1d6fd3f8b68eae7253cf3127740e86cac6b61e11d93ab88.svg#museo_sans_rounded300) format("svg");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-7db23f234d88e8ad27ec37bdde13139979f267273b05c2f7dbf1c221b7391d4a.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-7db23f234d88e8ad27ec37bdde13139979f267273b05c2f7dbf1c221b7391d4a.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-3d049c181522b798e179965ccf7ebce629f09267bbf98db4eb1b561d77ef5b8a.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-3b7bcb29fd2896903b78d553dc84bc3432362dce28b70253d8ae9b1fe7fddee2.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-61749b2076c6d5aca90d6ed13504346d2e7033fb968a99c2a6fc2b7864b56eb0.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-300_Italic_22-webfont-c8a57199b442c64a44969cdb458d91061fc17b65396218fcaad69bc703991e94.svg#museo_sans_rounded300_italic) format("svg");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-5349eadb45935d943a5433aff730a426a310fd7bdf4aa8be36d758e9dcf0970a.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-5349eadb45935d943a5433aff730a426a310fd7bdf4aa8be36d758e9dcf0970a.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-56d885c1b14efccefc2380dbe178810255ab3cbb62736167b0b331c1a781b653.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-d2ea0aa26871608fc6d6a191b59e33cc9ea5e5526336b0aaf694d1f336569397.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-d786de05b3eabb8188bc9dd1ce551fab02c4373eeb345657f55e6ed2cedd073f.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-500-webfont-af89f7cdb2ba8f025a9b45e07418f1af09072af8e0166e7acd95bbb57ef33404.svg#museo_sans_rounded500) format("svg");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-7757a7c4a5f3de3f03be7115c77b6c9bf99c3c9c32fe5883061f503002b8cbe5.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-7757a7c4a5f3de3f03be7115c77b6c9bf99c3c9c32fe5883061f503002b8cbe5.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-a427151bb58fc7f6c851fd51b3014e79f801d23f71f116f947a1aaa2d3d2d768.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-f492eccc50fbd8d60890e1c2b19a8b98d9a96bb4d5d40fa728eca16d401a3548.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-c3f3f3e2307e8c59868acb1a9dd66a2537029833d10d9c027fb2607f55cb3b0e.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-500_Italic_22-webfont-bd42b0f9ff1087c4529fe7b955c945ddf947eadd29037576963609bbff96860a.svg#museo_sans_rounded500_italic) format("svg");
    font-weight: normal;
    font-style: italic;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-ae780296b4799b600b8eb79381ba8248d7a40c9e738e93d5a0c04ba0fc8b916f.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-ae780296b4799b600b8eb79381ba8248d7a40c9e738e93d5a0c04ba0fc8b916f.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-bf5c611b1341d233f77b7a12d1e5ef6140373c68edbae6e357a5fac0cff45059.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-91f73cdd3cfd6491748d0ee3b4faaffd9cfce15106b67a337ea0369d799ce899.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-7feeba5337bcb2fcbbd28dc627c1b77454012e3c65918cdc0f351a7a01f03a59.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-700-webfont-318eb852995ed352ee682d8f4a3cfa09fe9d8380aebfaec96610ea22e97f82fa.svg#museo_sans_rounded700) format("svg");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-d9a489061580fc313c922a9eefd1f86c9ed6ac9a807cfad3916eba945a01a79b.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-d9a489061580fc313c922a9eefd1f86c9ed6ac9a807cfad3916eba945a01a79b.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-6788dab3e5b24b8923464bdb7020783b3fdb2f702db0dc01bf910da2f9e20c5a.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-d14f77b212a704b0fafbc4fc49a807cedd7882c41f5784744e4074c3a9dabf4a.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-b5dec26e890bef3fecd7b3e10f66a293c8559a5d0c3dbf42fa08ae4b80c9e2f5.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-700_Italic_22-webfont-3717e9b8dea3e1bae37e054e8d2154de31e19deabedc0041c4300852f2c55efd.svg#museo_sans_rounded700_italic) format("svg");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-fedc2fd5cc6b9bc0d621df2440441cef550b79aaac2bc23dd1695750b8f81e69.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-fedc2fd5cc6b9bc0d621df2440441cef550b79aaac2bc23dd1695750b8f81e69.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-13d72c943813a8e0740ad73dd618e461dacbb66a832247501a14227f573b12c0.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-4f0069d6f8f65b0f3d3450187f7c6d7a3904d94d62caee27ba9292ecf0d50abd.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-e4d7eac0282573c2080fedc1ec9ffc810b334549350e9bd4d64370595c8834a3.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-900-webfont-400ada51e8a7bfbe324ef89a65a223719d120c6e0b1955fb08a09a4919037dd5.svg#museo_sans_rounded900) format("svg");
    font-weight: 900;
    font-style: normal;
}
@font-face {
    font-family: 'museo-sans-rounded';
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-a5c2114e024f409488887e374b760098d75690c20a38a5ec1ff44440b42b6d1d.eot);
    src: url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-a5c2114e024f409488887e374b760098d75690c20a38a5ec1ff44440b42b6d1d.eot?#iefix) format("embedded-opentype"), url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-7d22199a9e26a7feed75cf1a5f9eaec5152145f1f1e4bdeb3cbe75757b4c38c0.woff2) format("woff2"), url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-24089ea65dcfdb06613ee7fa241612ba6a778325973d5f4875e1dc9b796ccffd.woff) format("woff"), url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-18d682a549ed277c0d0637b098d197e2c59718f771bbac6e3f1ec8847a922131.ttf) format("truetype"), url(/assets/museo-sans-rounded/MuseoSansRounded-900_Italic_22-webfont-f81a5d7e46b02b05d3d5a1c8ea0c47682635bfc717897db18f7a173ceeb5495f.svg#museo_sans_rounded900_italic) format("svg");
    font-weight: 900;
    font-style: italic;
}

  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
    
  @media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3 / 2), (min-device-pixel-ratio: 1.5) {
    
.btn {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }
  
  .btn:focus {
    outline: none; }


.btn {
  display: inline-block;
  border: 0;
  background: transparent;
  -webkit-appearance: none; }


.btn {
  height: 40px;
  border: 1px solid #e0e2e3;
  font-size: 14px; }


.btn {
  height: 32px;
  padding: 0 14px 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background-color: #fafafa;
  -moz-box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.04) 0 1px 0;
  color: #85898c;
  line-height: 30px;
  font-weight: 500;
  text-align: center;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -o-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, opacity 0.2s ease-in-out; }


.btn:hover {
  background-color: white;
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 1px;
  color: #85898c;
  -moz-transition-duration: 0.05s;
  -o-transition-duration: 0.05s;
  -webkit-transition-duration: 0.05s;
  transition-duration: 0.05s; }


.btn:active,
.btn:active:hover {
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  background-color: #f8f8f8; }


.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  background-color: #fafafa;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  opacity: 0.5;
  cursor: default; }


.btn-blue {
  -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
  -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0;
  box-shadow: rgba(0, 0, 0, 0.08) 0 1px 0; }
  
  .btn-blue:hover {
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 1px 1px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 1px; }


.btn-blue {
  border-color: transparent;
  background-color: #2996cc;
  color: white; }


.btn-blue.btn:hover {
  background-color: #3ba8de;
  color: white; }


.btn-blue.btn:active {
  background-color: #2996cc; }


.btn-blue.btn:disabled {
  background-color: #2996cc;
  color: white; }


*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-moz-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-ms-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@-o-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn;
  -moz-animation: fadeIn;
  animation: fadeIn;
  -webkit-animation-fill-mode: forwards;
  -moz-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 250ms;
  -moz-animation-delay: 250ms;
  animation-delay: 250ms; }


a {
  color: #2996cc;
  font-family: "museo-sans-rounded";
  text-decoration: none; }
  
#content {
  width: 100%; }
  @media (min-width: 568px) {
    
    #content {
      width: 465px; } }

@media (min-width: 568px) {
  
  .l-table {
    display: table;
    vertical-align: middle;
    height: 100%;
    margin: auto; }

  
  .l-table-row {
    display: table-row; }

  
  .l-table-cell {
    display: table-cell;
    vertical-align: middle;
    padding-top: 72px; } }



html {
  background: #fafafa; }


html, body {
  height: 100%;
  margin: 0;
  padding: 0; }

@media screen and (max-width: 569px) {
   }



@media screen and (max-width: 569px) {
  /* line 248, ../../app/unowned/stylesheets/login.sass */ }

/* line 252, ../../app/unowned/stylesheets/login.sass */
  @media screen and (-webkit-min-device-pixel-ratio: 2) {
    /* line 252, ../../app/unowned/stylesheets/login.sass */ }
  @media screen and (min-width: 570px) {
    /* line 252, ../../app/unowned/stylesheets/login.sass */ }

.login-modal {
  font-family: "museo-sans-rounded";
  line-height: 1.5;
  color: #3d454d;
  background-color: #FDFEFE;
  margin: 0 auto; }
  .login-page .login-modal .password-field {
    margin-top: 14px; }
  .login-modal input:disabled {
    background-color: #f9f9f9;
    opacity: 0.7; }
  @media screen and (min-width: 570px) {
    .login-modal {
      -moz-border-radius: 3px;
      -webkit-border-radius: 3px;
      border-radius: 3px;
      border: 1px solid #e0e2e3; }
      .login-page .login-modal {
        -moz-transition: height 0.1s;
        -o-transition: height 0.1s;
        -webkit-transition: height 0.1s;
        transition: height 0.1s; } }

/* line 315, ../../app/unowned/stylesheets/login.sass */
.login-modal-password-text,
.login-modal-instructions-sent-text {
  display: none; }

/* line 322, ../../app/unowned/stylesheets/login.sass */
.login-modal-content:after,
.login-modal-content form:after {
  content: " ";
  clear: both;
  display: block; }


input.text {
  border: 1px solid #e0e2e3;
  height: 38px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none; }
  /* line 339, ../../app/unowned/stylesheets/login.sass */
  input.text[name="email"] {
    -moz-border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px;
    border-radius: 3px 3px 0 0; }
  /* line 341, ../../app/unowned/stylesheets/login.sass */
  input.text[name="password"] {
    -moz-border-radius: 0 0 3px 3px;
    -webkit-border-radius: 0;
    border-radius: 0 0 3px 3px; }
  /* line 343, ../../app/unowned/stylesheets/login.sass */
  input.text:focus {
    border-color: #2996cc;
    z-index: 2; }

/* line 350, ../../app/unowned/stylesheets/login.sass */
.login-page .login-modal .password-field {
  margin-top: -1px; }

/* line 354, ../../app/unowned/stylesheets/login.sass */
.login-modal-footer {
  text-align: center;
  margin: 24px;
  color: #85898c;
  line-height: 1.3; }


  @media (min--moz-device-pixel-ratio: 1.3), (-o-min-device-pixel-ratio: 2.6 / 2), (-webkit-min-device-pixel-ratio: 1.3), (min-device-pixel-ratio: 1.3), (min-resolution: 1.3dppx) {
    /* line 442, ../../app/unowned/stylesheets/login.sass */ }

/* line 448, ../../app/unowned/stylesheets/login.sass */
.login-modal .email-field {
  z-index: 1;
  position: relative;
  margin-bottom: 0; }
  

/* line 502, ../../app/unowned/stylesheets/login.sass */


/* line 518, ../../app/unowned/stylesheets/login.sass */

/* line 521, ../../app/unowned/stylesheets/login.sass */
.signin-page-form {
  opacity: 1; }
  /* line 527, ../../app/unowned/stylesheets/login.sass */

/* line 530, ../../app/unowned/stylesheets/login.sass */
.signin-page-form {
  -moz-transition: opacity 0.1s;
  -o-transition: opacity 0.1s;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s; }

.signin-page-form:not(.passwordless) #send-verification-code-button {
  display: none;
}

/* line 536, ../../app/unowned/stylesheets/login.sass */
/* line 560, ../../app/unowned/stylesheets/login.sass */
.login-modal-title {
  font: 400 24px/1 "Square Market", "helvetica neue", helvetica, arial, sans-serif;
  text-align: center;
  color: #3d454d; }

/* line 565, ../../app/unowned/stylesheets/login.sass */

/* line 571, ../../app/unowned/stylesheets/login.sass */
.login-modal-content {
  position: relative;
  -moz-transition: height 0.1s;
  -o-transition: height 0.1s;
  -webkit-transition: height 0.1s;
  transition: height 0.1s; }

.login-modal {
  padding: 40px; }

/* line 578, ../../app/unowned/stylesheets/login.sass */
.login-forgot-password-wrapper {
  position: absolute;
  top: 50%;
  right: 10px;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 10; }

/* line 587, ../../app/unowned/stylesheets/login.sass */
  /* line 591, ../../app/unowned/stylesheets/login.sass */

/* line 597, ../../app/unowned/stylesheets/login.sass */
.footer {
  margin: 0 auto;
  margin-top: 24px;
  text-align: center;
  color: #58595b; }

.submit-button {
  margin-top: 12px; }
  .submit-button button {
    line-height: 15px;
    height: auto;
    padding: 12px 16px;
    width: 100%;
    min-width: 80px; }

/* line 611, ../../app/unowned/stylesheets/login.sass */
.full-length-submit-button {
  display: block;
  width: 100%; }

/* line 615, ../../app/unowned/stylesheets/login.sass */
.signup-today {
  white-space: nowrap;
  font-weight: 500; }

/* line 619, ../../app/unowned/stylesheets/login.sass */
.field {
  margin: 0;
  height: 41px;
  position: relative; }
  /* line 624, ../../app/unowned/stylesheets/login.sass */
  .field.fade-label label.text {
    color: #c2c7cc;
    font-size: 14px;
    line-height: 15px;
    height: 41px;
    padding: 13px 10px; }
    /* line 630, ../../app/unowned/stylesheets/login.sass */
    .field.fade-label label.text span {
      padding: 0; }
  /* line 632, ../../app/unowned/stylesheets/login.sass */
  /* line 637, ../../app/unowned/stylesheets/login.sass */
  .field input {
    height: 41px;
    width: 100%; }
  /* line 640, ../../app/unowned/stylesheets/login.sass */
    /* line 649, ../../app/unowned/stylesheets/login.sass */

/* line 653, ../../app/unowned/stylesheets/login.sass */
.login-modal-logo {
  fill: #c2c7cc;
  margin: 0 auto 36px;
  width: 110px;
  height: 44px; }

/* line 659, ../../app/unowned/stylesheets/login.sass */

/* line 694, ../../app/unowned/stylesheets/login.sass */

/* line 704, ../../app/unowned/stylesheets/login.sass */
/* line 706, ../../app/unowned/stylesheets/login.sass */
